
*{
    margin: 0;
padding: 0;
background-color: rgb(47, 47, 54);

}
body{
    background-color: rgb(47, 47, 54);
}
.row{
    background-color: rgb(47, 47, 54);
}
.main{
    background-color: rgb(47, 47, 54);
}
.heading{
    color: rgb(200, 194, 194);
}